<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.CommentMapper">
    <insert id="insert" parameterType="Comment">
        insert into comment (user_id, song_id,
        song_list_id, content, create_time,
        type, up)
        values (#{user.id}, #{song.id}, #{songList.id}, #{content}, #{createTime}, #{type}, #{up})
    </insert>


</mapper>